/* login.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f8ff;
}

.login-form {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-input {
    width: calc(100% - 22px); /* התאמה לרוחב הכפתור */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #007BFF;
    border-radius: 5px;
    font-size: 16px;
}

.login-button {
    width: calc(100% - 22px); /* התאמה לרוחב השדה */
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin: 10px 0; /* מרווח בין השדה לכפתור */
}

.login-button:hover {
    background-color: #0056b3;
}

.login-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}
